<app-navbar></app-navbar>

<div class="page-header">
  <h2>🎉 Événements disponibles</h2>
  <div class="search-container">
    <span class="search-icon">🔍</span>
    <input type="text" [(ngModel)]="searchTerm" (input)="filterEvents()"
      placeholder="Rechercher un événement, un lieu, une date..." class="search-input">
  </div>
</div>

<div class="event-grid">
  <div class="event-card" *ngFor="let e of filteredEvents">
    <div class="card-image">
      <img *ngIf="e.imageUrl" [src]="'http://localhost:8080/api/uploads' + e.imageUrl.replace('/uploads', '')"
        alt="Event Image">
      <div *ngIf="!e.imageUrl" class="placeholder-image"><span>📷 Pas d'image</span></div>
      <div class="card-date">
        <span class="day">{{ e.date | date:'dd' }}</span>
        <span class="month">{{ e.date | date:'MMM' }}</span>
      </div>
    </div>

    <div class="card-content">
      <h3>{{ e.title }}</h3>
      <p class="description">{{ e.description }}</p>

      <div class="meta-info">
        <span>📍 {{ e.location }}</span>
      </div>

      <button class="btn btn-primary full-width" (click)="affect(e.id)">
        S'inscrire à l'événement
      </button>
    </div>
  </div>
</div>



<button class="logout-btn" (click)="logout()"> Déconnexion</button>